/vendor/
/node_modules/
/public/build/
/public/hot/
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
Thumbs.db
.php-cs-fixer.cache
.pest.cache
coverage/

.phpunit.cache/
/storage/framework/cache/
/storage/exports/
/storage/framework/testing/
